@mixin color($bg, $color) {
  background-color: $bg;
  color: $color;
}

@mixin navStyle($num){
  position: relative;
  float: left;
  left: $num;
}

@mixin displayPadding($dis, $pad) {
  display: $dis;
  padding: $pad;
}

@mixin marginPosition($mar, $pos) {
  position: $pos;
  margin: $mar;
}

@mixin marginHeight($mar, $h) {
  height: $h;
  margin: $mar;
}

@mixin leftRight($lef, $ri){
  left: $lef;
  right: $ri;
}

@mixin borderBorRadius($bor, $rad){
  border: $bor;
  border-radius: $rad;
}

@mixin borderRadboxShadow($bor, $shad){
  border-radius: $bor;
  box-shadow: $shad;
}

@mixin animBounce {
  0%       { bottom:3px; }
  25%, 75% { bottom:6px; }
  50%      { bottom:9px; }
  100%     { bottom:0; }
}

@mixin socialBtn {
  border-radius: 10px;
  -webkit-transition: all 0.2s;
  -webkit-transition-timing-function: linear;
  transition: all 0.2s;
  transition-timing-function: linear;
}

@mixin respond-to($val){
  @media screen and (max-width: $val){
    @content
  }
}
