// Colors
$white: #ffffff;
$lightGray: #cecece;
$charcoal: #434142;
$softBlack: #2e2e2e;

// Sizes
$sectionHeading: 1.3em;
$topHeight: 20 30 40;
$size1Em: 1em;
$wellWidth: 40%;
$aboutMeMargin: 10%;
$myPhotoWidth: 210px;
$aboutULmarginRight: 20%;
$aboutImg: 60px;
$h4: 20px;
$projectSecPadding: 7%;
$projectsContentPadding: 5%;
$h3FontSize: 22px;
$h3Margin: 10px;
$img2Padding: 20px;
$projCodesLiFont: 16px;
$projCodesLiMarginB: 8px;
$projCodesLiPadding: 8px;
$formWidth: 70%;
$boxShadow: 0 0 8px 2px;
