@charset "utf-8";
/* CSS Document */

body {
    position: relative;
    font: 400 15px Lato, sans-serif;
    color: #434142;
    line-height: 1.8;
}

/** Colors **/
#aboutSection,
#contactSection,
.projectsContent {
    background-color: #f2f2f2;
}

#projectSection {
    background-color: #d9d9d9;
}

a.projectLink h3 {
    background-color: #434142;;
}

header .well,
header a,
a.projectLink h3:hover,
form > input.btn,
footer {
    background-color: #2e2e2e;
}

form .form-control,
.form-control::-webkit-input-placeholder,
.form-control::-moz-placeholder,
.form-control:-ms-input-placeholder,
.form-control:-moz-placeholder {
    background-color: #fff;
}

header,
header a,
header a:hover,
header a:visited,
header a:active,
ul.nav.navbar-nav > li > a:hover,
ul.nav.navbar-nav > li > a:focus,
a.projectLink h3,
form > input.btn,
footer {
    color: #fff;
}

/** Landing Page **/
header {
    height: 100vh;
    background: linear-gradient(-25deg, #7aeaaf, #029eff);
    font-family: Georgia, serif;
    margin: 0;
    overflow: hidden;
}

canvas {
    display: block;
    position: absolute;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin: 0;
}

/* Name Box */
header .well {
    width: 40%;
    margin: 10% auto;
    border: 1px solid #cecece;
}

header h2 {
    font-size: 1.3em;
}

/* Arrow Icon */
header a {
    position: relative;
    font-size: 1.5em;
    padding: 12px 10px 5px 12px;
    border: 1px solid #cecece;
    border-radius: 30px;
    -webkit-animation: bounce 0.75s infinite;
    animation: bounce 0.75s infinite;
}

header a:focus {
    outline: none;
}

@-webkit-keyframes bounce {
    0%       { bottom:3px; }
    25%, 75% { bottom:6px; }
    50%      { bottom:9px; }
    100%     { bottom:0; }
}
@keyframes bounce {
    0%       { bottom:3px; }
    25%, 75% { bottom:6px; }
    50%      { bottom:9px; }
    100%     { bottom:0; }
}

/* Scrollspy */
nav.affix {
    top: 0;
    width: 100%;
    z-index: 9999;
}

/** Nav Bar **/
.navbar.navbar-inverse {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    letter-spacing: 4px;
    margin: 0;
    border: none;
    border-radius: 0;
    z-index: 9999;
}

.navbar.navbar-inverse .wrap1 {
    position: relative;
    float: left;
    left: 50%;
}

ul.nav.navbar-nav {
    position: relative;
    float: left;
    left: -50%;
}

ul.nav.navbar-nav li {
    float: left;
}

ul.nav.navbar-nav > li > a {
    float: left;
    color: #cecece;
}

ul.nav.navbar-nav > li > a:hover,
ul.nav.navbar-nav > li > a:focus {
    background-color: #080808;
    outline: none;
}

/* All Section Styles */
.affix ~ .container-fluid {
    position: relative;
    top: 50px;
}

.contentWidth {
    padding: 60px 10%;
}

/* Entrance Animation Scroll */
.slideanim {
    visibility: hidden;
}

.slide {
    -webkit-animation-name: slide;
    animation-name: slide;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    visibility: visible;
}

@keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(50%);
        -ms-transform: translateY(50%);
        transform: translateY(50%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
        transform: translateY(0%);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(50%);
        -ms-transform: translateY(50%);
        transform: translateY(50%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%);
    }
}

/** About Section **/
div.aboutMe {
    margin-left: 10%;
}

/* Profile Photo */
.myPhoto {
    position: relative;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 0 0 8px 2px #e5e5e5;
}

/* Social Media Icons */
.socialIcons {
    margin-right: 8px;
}

.aboutMe span a:focus,
#contactSection span a:focus,
.projectsContent a:focus {
    outline: none;
}

.aboutMe span a:hover img,
#contactSection span a:hover img,
.gitLink a:hover img {
    border-radius: 10px;
}

/* Skills */
#aboutSection ul {
    margin: 0 20%;
    padding: 0;
}

#aboutSection ul li {
    list-style: none;
    text-align: center;
    margin-bottom: 20px;
}

#aboutSection ul li h4 {
    font-size: 20px;
    font-weight: 700;
}

/** Portfolio Section **/
/* Portfolio White Background */
.projectsContent {
    width: 100%;
    color: #222;
    padding: 5%;
}

.projectsContent .row {
    margin-bottom: 25px;
}

/* Portfolio Thumbnails */
#projectSection figure {
    position: relative;
    display: inline-block;
    margin: 5px;
}

#projectSection figure img {
    border-radius: 5px;
    box-shadow: 0 0 8px 2px #dedede;
}

/* Portfolio Thumbnails Layover */
#projectSection .img2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    transition: opacity .5s ease-out;
}

#projectSection figure:hover .img2 {
    opacity: 1;
}

/* Portfolio Thumbnails Description */
a.projectLink {
    color: #383838;
}

a.projectLink:focus {
    outline: none;
}

a.projectLink h3 {
    display: inline-block;
    font-weight: 800;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 15px;
}

ul.projCodes {
    list-style: none;
    width: 90%;
}

ul.projCodes li {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    padding: 1px 8px;
    margin-bottom: 8px;
    margin-right: 3px;
}

/** Contact Section **/
/* Contact Form */
form .form-control {
    border-radius: 0;
}

form .form-control:focus {
    border-color: #666666;
    box-shadow: none;
}

form > input.btn {
    border-radius: 0;
    margin-top: 15px;
}

form > input.btn:hover {
    background-color: #fff;
    border: 2px solid #666666;
}

#contactForm input.error,
#contactForm textarea.error  {
    border: 1px solid red;
}

/** Footer Section **/
footer {
    height: 50px;
    padding-top: 10px;
    margin: 0;
}

/* Font Styles */
.biggerFontSize {
    font-size: 1.3em;
}

.bigFontSize {
    font-size: 1.2em;
}

/* Margin & Padding */
.top20 {
    margin-top: 20px;
}

.top30 {
    margin-top: 30px;
}

.top40 {
    margin-top: 40px;
}

.bottom30 {
    margin-bottom: 30px;
}

/** Thank you Page **/
.thanks h1 {
    font-size: 2em;
}

.thanks p {
    font-size: 1.4em;
}

/** Media Queries **/
@media screen and (max-width: 1200px) {
    /* Name Box */
    header .well {
        width: 45%;
    }
    /* Profile Photo */
    .myPhoto {
        width: 230px;
    }
    /* Portfolio Section Width */
    #projectSection {
        padding-left: 7%;
        padding-right: 7%;
    }
    /* Portfolio Thumbnails Layover */
    #projectSection .img2 {
        padding-top: 20px;
    }
    ul.projCodes li {
        font-size: 14px;
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 950px) {
    /* Name Box */
    header .well {
        width: 55%;
        margin: 13% auto;
    }
    /* About Section */
    div.aboutMe {
        margin-left: 3%;
    }
    /* Profile Photo */
    .myPhoto {
        width: 210px;
    }
    /* Portfolio Section Width */
    #projectSection {
        padding-left: 5%;
        padding-right: 5%;
    }
    .projectsContent {
        padding: 3%;
    }
    /* Portfolio Thumbnails Layover */
    #projectSection .img2 {
        padding-top: 10px;
    }
    ul.projCodes li {
        font-size: 13px;
    }
}

@media screen and (max-width: 767px) {
    /* Name Box */
    header .well {
        width: 65%;
        margin: 15% auto;
    }
    /* Nav Bar */
    ul.nav.navbar-nav {
        margin: 0;
    }
    /* Nav Bar Link */
    ul.nav.navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    div.aboutMe {
        margin-left: 0;
    }
    /* Profile Photo */
    .myPhoto {
        width: 200px;
    }
    /* Skills */
    #aboutSection ul {
        margin: 0 10%;
    }
    /* Portfolio Section Width */
    #projectSection {
        padding-left: 7%;
        padding-right: 7%;
    }
    .projectsContent {
        padding: 5%;
    }
    /* Portfolio Thumbnails Layover */
    #projectSection .img2 {
        padding-top: 12px;
    }
    .gitLink {
        margin-left: 10%;
    }
    ul.projCodes li {
        font-size: 15px;
    }
    #contactSection {
        text-align: center;
    }
    form {
        width: 70%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 650px) {
    /* Name Box */
    header .well {
        width: 75%;
        margin: 15% auto;
    }
    .myPhoto {
        width: 190px;
    }
    /* First Portfolio */
    .projectsContent .col-sm-6.col-xs-12:first-of-type {
        margin-top: 15px;
    }
}

@media screen and (max-width: 570px) {
    /* Name Box */
    header .well {
        width: 60%;
    }
    header h1 {
        font-size: 1.9em;
    }
    header h2 {
        font-size: 1.1em;
    }
    /* Profile Photo */
    .myPhoto {
        width: 180px;
    }
    /* Skills */
    #aboutSection ul {
        margin: 0 5%;
    }
    #aboutSection ul img {
        width: 60px;
        height: 64px;
    }
    form {
        width: 80%;
        margin: 0 auto;
    }
    .biggerFontSize {
        font-size: 1.2em;
    }
    .thanks h1 {
        font-size: 1.8em;
    }

    .thanks p {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 450px) {
    /* Name Box */
    header .well {
        width: 77%;
    }
    .navbar.navbar-inverse {
        letter-spacing: 0;
    }
    /* Profile Photo */
    .myPhoto {
        width: 170px;
    }
    /* Skills */
    #aboutSection ul {
        margin: 0 0;
    }
    #aboutSection ul img {
        width: 50px;
        height: 52px;
    }
    /* Portfolio Thumbnails Layover */
    #projectSection .img2 {
        padding-top: 8px;
    }
    a.projectLink h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    ul.projCodes {
        width: 95%;
        margin-left: -10px;
    }
    ul.projCodes li {
        font-size: 12px;
    }
    form {
        width: 100%;
        margin: 0 auto;
    }
    .biggerFontSize {
        font-size: 1.1em;
    }
    .bigFontSize {
        font-size: 1em;
    }
    footer {
        height: 70px;
    }
    .footer2ndLine {
        display: block;
    }
}

@media screen and (max-width: 400px) {
    /* Profile Photo */
    .myPhoto {
        width: 160px;
    }
    /* Portfolio Thumbnails Layover */
    a.projectLink h3 {
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 8px;
    }
    ul.projCodes li {
        padding: 1px 5px;
        margin-bottom: 3px;
    }
    .biggerFontSize {
        font-size: 1em;
    }
    .bigFontSize {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 350px) {
    .navbar.navbar-inverse {
        font-size: 12px;
    }
    /* Profile Photo */
    .myPhoto {
        width: 150px;
    }
    /* Portfolio Thumbnails Layover */
    a.projectLink h3 {
        font-size: 18px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    ul.projCodes li {
        padding: 1px 3px;
        margin-bottom: 3px;
    }
    .thanks h1 {
        font-size: 1.5em;
    }

    .thanks p {
        font-size: 1em;
    }
}
