@charset "utf-8";
/* CSS Document */

body {
    position: relative;
}

/* Landing Page */
header.landing {
    background: linear-gradient(#000000, #2e2e2e), url('img/background.jpg') left bottom / cover no-repeat scroll;
    background-blend-mode: saturation;
    font-family: Georgia, serif;
}

/* Name Box */
header.landing .intro {
    width: 40%;
    background: #2e2e2e;
    color: #fff;
    border: 2px solid #e5e5e5;
    margin: 10% auto;
}

/* Name */
.landing .intro h2 {
    font-size: 1.3em;
}

/* Arrow Icon */
header.landing a {
    color: #fff;
    background-color: #2e2e2e;
    border: 2px solid #e5e5e5;
    padding: 12px 10px 5px 12px;
    font-size: 1.5em;
    border-radius: 30px;
    position: relative;
    -webkit-animation: bounce 0.75s infinite;
    animation: bounce 0.75s infinite;
}

@-webkit-keyframes bounce {
    0%       { bottom:3px; }
    25%, 75% { bottom:6px; }
    50%      { bottom:9px; }
    100%     { bottom:0; }
}

@-moz-keyframes bounce {
    0%       { bottom:3px; }
    25%, 75% { bottom:6px; }
    50%      { bottom:9px; }
    100%     { bottom:0; }
}

@-o-keyframes bounce {
    0%       { bottom:3px; }
    25%, 75% { bottom:6px; }
    50%      { bottom:9px; }
    100%     { bottom:0; }
}

@keyframes bounce {
    0%       { bottom:3px; }
    25%, 75% { bottom:6px; }
    50%      { bottom:9px; }
    100%     { bottom:0; }
}

/* Nav Bar */
nav.navbar.navbar-inverse {
    margin-bottom: 0;
    border: none;
    border-radius: 0;
}

.navbar.navbar-inverse .wrap1 {
    overflow: hidden;
    position: relative;
}

.navbar.navbar-inverse .wrap2 {
    float: left;
    position: relative;
    left: 50%;
}

.navbar ul.nav.navbar-nav {
    float: left;
    position: relative;
    left: -50%;
}

.navbar ul.nav.navbar-nav li {
    float: left;
    font-size: 1.35em;
}

.navbar ul.nav.navbar-nav > li > a {
    float: left;
    color: #cecece;
}

.navbar ul.nav.navbar-nav > li > a:hover,
.navbar ul.nav.navbar-nav > li > a:focus {
    color: #fff;
    background-color: #080808;
}

nav.affix {
    top: 0;
    width: 100%;
    z-index: 9999;
}

.affix ~ .container-fluid  {
    position: relative;
    top: 50px;
}

/* About Section */
div#aboutSection {
    background-color: #f2f2f2;
    color: #191919;
    height: auto;
    padding-top: 30px;
}

/* Profile Photo */
#aboutSection img.myPhoto {
    position: relative;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    box-shadow: 0 0 8px 2px #e5e5e5;
}

/* Skills */
#aboutSection p.skills {
    color: #fff;
    background-color: #2e2e2e;
    padding: 10px;
    font-size: 1.1em;
    font-weight: bold;
    border-radius: 30px;
    position: relative;
    width: 90%;
}

/* Social Media Icons */
#aboutSection img.socialIcons,
#portfolioSection img.socialIcons,
#contactSection img.socialIcons {
    width:30px;
    height:30px;
}

/* Date Separator */
#aboutSection span.separator {
    content: " ";
    border-right: 1px solid #191919;
    line-height: 1.75em;
}

/* Portfolio Section */
section #portfolioSection {
    position: relative;
    padding-top: 30px;
    height: auto;
    color: #fff;
    background-color: #383838;
    padding-bottom: 5px;
    margin-bottom: -5px;
}

/* Portfolio Title */
section #portfolioSection h1 {
    margin-bottom: 30px;
}

/* Portfolio White Background */
section #portfolioSection .portfolioContent {
    background-color: #fff;
    color: #222;
    border: 2px solid #4e4e4e;
}

section #portfolioSection .git {
    margin-top: -40px;
    margin-bottom: 30px;
}

/* Portfolio Thumbnails */
.portfolioContent figure img {
    width:400px;
    border-radius: 5px;
    box-shadow: 0 0 8px 2px #dedede;
}

.portfolioContent figure {
    display: inline-block;
    position: relative;
    margin: 5px;
}

/* Portfolio Thumbnails Layover */
.portfolioContent figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ededed;
    padding-top: 25px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    transition: opacity .5s ease-out;
}

figure:hover figcaption {
    opacity: 1;
}

/* Portfolio Thumbnails Description */
.portfolioContent figure a {
    font-size: 25px;
    font-weight: 800;
    color: #383838;
}

/* Contact Section */
section #contactSection {
    padding-top: 30px;
    height: auto;
    color: #191919;
    background-color: #f2f2f2;
}

/*
form .form-control {
    border-radius: 0;
    color: #fff;
    background-color: #383838;
}
form .form-control:focus {
    border-color: #000;
    box-shadow: none;
}
form .form-control::-moz-placeholder {
    color: #fff;
    opacity: 1;
}
form .form-control:-ms-input-placeholder {
    color: #fff;
}
form .form-control::-webkit-input-placeholder {
    color: #fff;
}
form > button.btn {
    color: #fff;
    background-color: #383838;
    border-radius: 0;
}
*/

/* Footer Section */
footer .footerSec {
    padding-top: 20px;
    height: 60px;
    color: #fff;
    background-color: #383838;
}

/* Margin & Padding */
.top10 {
    margin-top: 10px;
}

.top20 {
    margin-top: 20px;
}

.top30 {
    margin-top: 30px;
}

.top50 {
    padding-top: 50px;
}

.bottom30 {
    margin-bottom: 30px;
}

.bottom50 {
    margin-bottom: 50px;
}

.bottom100 {
    margin-bottom: 100px;
}

/* About & Contact Margin */
section .marginLeftRight {
    margin-left: 10%;
    margin-right: 10%;
}

/* Portfolio Width */
.LeftRight {
    width: 85%
}

/* Font Size */
section .aboutFontSize {
    font-size: 1.35em;
}

section p.contactFontSize {
    font-size: 1.5em;
}

/* Media Queries */
@media screen and (max-width: 1125px) {
    /* Name Box */
    header.landing .intro {
        width: 45%;
    }
    /* About & Contact Margin */
    section .marginLeftRight {
        margin-left: 8%;
        margin-right: 8%;
    }
    /* Profile Photo */
    #aboutSection img.myPhoto {
        width: 230px;
    }
    /* Skills */
    #aboutSection p.skills {
        font-size: 1em;
    }
}

@media screen and (max-width: 965px) {
    /* Landing Page */
    header.landing {
        background: linear-gradient(#000000, #2e2e2e), url('img/background.jpg') 10% bottom / cover no-repeat scroll;
    }
    /* Name Box */
    header.landing .intro {
        width: 55%;
        margin: 13% auto;
    }
    /* About & Contact Margin */
    section .marginLeftRight {
        margin-left: 4%;
        margin-right: 4%;
    }
    /* Profile Photo */
    #aboutSection img.myPhoto {
        width: 210px;
    }
    /* Skills */
    #aboutSection p.skills {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 860px) {
    /* Skills */
    #aboutSection p.skills {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 780px) {
    /* Landing Page */
    header.landing {
        background: linear-gradient(#000000, #2e2e2e), url('img/background.jpg') 20% bottom / cover no-repeat scroll;
    }
    /* Name Box */
    header.landing .intro {
        width: 65%;
        margin: 15% auto;
    }
    /* About & Contact Margin */
    section .marginLeftRight {
        margin-left: 0;
        margin-right: 0;
    }
    /* Profile Photo */
    #aboutSection img.myPhoto {
        width: 190px;
    }
    /* Skills */
    #aboutSection p.skills {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 767px) {
    /* Nav Bar */
    .navbar ul.nav.navbar-nav {
        margin: 0;
    }
    /* Nav Bar Link */
    .navbar. ul.nav.navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    /* About & Contact Margin */
    section .marginLeftRight {
        margin-left: 8%;
        margin-right: 8%;
    }
    /* Profile Photo */
    #aboutSection img.myPhoto {
        width: 200px;
    }
    /* Skills */
    #aboutSection p.skills {
        font-size: 1.05em;
    }
}

@media screen and (max-width: 650px) {
    /* Landing Page */
    header.landing {
        background: linear-gradient(#000000, #2e2e2e), url('img/background.jpg') 20% bottom / cover no-repeat scroll;
    }
    /* Name Box */
    header.landing .intro {
        width: 75%;
        margin: 15% auto;
    }
    /* Profile Photo */
    #aboutSection img.myPhoto {
        width: 190px;
    }
    section .aboutFontSize {
        font-size: 1.15em;
    }
    section p.contactFontSize {
        font-size: 1.3em;
    }
    /* Portfolio Width */
    .LeftRight {
        width: 88%
    }
    /* Skills */
    #aboutSection p.skills {
        font-size: 1.1em;
    }
}

@media screen and (max-width: 570px) {
    /* Name Box */
    header.landing .intro {
        width: 60%;
    }
    section .aboutFontSize {
        font-size: 1.10em;
    }
    section p.contactFontSize {
        font-size: 1.25em;
    }
    /* Skills */
    #aboutSection p.skills {
        font-size: 1.05em;
    }
}

@media screen and (max-width: 450px) {
    /* Landing Page */
    header.landing {
        background: linear-gradient(#000000, #2e2e2e), url('img/background.jpg') 17% bottom / cover no-repeat scroll;
    }
    /* Name Box */
    header.landing .intro {
        width: 77%;
    }
    /* Profile Photo */
    #aboutSection img.myPhoto {
        width: 150px;
    }
    section .aboutFontSize {
        font-size: 1.05em;
    }
    section p.contactFontSize {
        font-size: 1.2em;
    }
    /* Portfolio Width */
    .LeftRight {
        width: 90%
    }
    /* Skills */
    #aboutSection p.skills {
        font-size: 1em;
    }
}

@media screen and (max-width: 400px) {
    /* Skills */
    #aboutSection p.skills {
        font-size: 0.95em;
    }
}
